{% extends 'base.html'%}
{% include 'header.html' %}
{% block title %} home {% endblock %}

{% block body%}

    <div class="container">
        <div class="row">
            <div class="col md-12">
                <div class="jumbotron p-3">
                    <a href="{{ url_for('list') }}"  class="btn btn-outline-secondary" type="submit" >Back To The List</a>
                    <h2>Manage Students  <button type="button" class="btn btn-success float-end" data-bs-toggle="modal" data-bs-target="#mymodal" >add new students</button></h2>
                <table class="table table-hover table-dark">
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>E-MAIL</th>
                        <th>PHONE</th>
                        <th>ABSENTIES</th>
                        <th>ACTION</th>
                    </tr>

                    {% for row in students %}

                    <tr>
                        <td>{{row.id}}</td>
                        <td>{{row.name}}</td>
                        <td>{{row.email}}</td>
                        <td>{{row.phone}}</td>
                        <td>
                            {{row.absenties}}
                        </td>
                        <td>
                            <a href="/update/{{row.id}}" class="btn btn-warning btn-xs" data-bs-toggle="modal" data-bs-target="#modaledit{{row.id}}">Edit</a>
                            <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
                            <a href="/absent/{{row.id}}" class="btn btn-info btn-xs" onclick="absent()"> Absent </a>
                        </td>
                    </tr>
<!-- edit -->
                    <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
                       <div class="modal-dialog">
                          <div class="modal-content">
                             <div class="modal-header">
                                <h4 class="modal-title">Update Information</h4>
                             </div>
                             <div class="modal-body">
                                <form action="{{url_for('update')}}" method="POST">
                                   <div class="form-group">
                                      <label>Name:</label>
                                       <input type="hidden"  name="id" value="{{row.id}}" >
                                      <input type="text" class="form-control" name="name" value="{{row.name}}" required="1">
                                   </div>

                                   <div class="form-group">
                                      <label>Email:</label>
                                      <input type="email" class="form-control" name="email" value="{{row.email}}" >
                                   </div>
                                    <div class="form-group">
                                      <label>Absenties:</label>
                                      <input type="number" class="form-control" name="absenties" value="{{row.absenties}}" readonly>
                                   </div>
                                   <div class="form-group">
                                      <label>Phone:</label>
                                      <input type="number" class="form-control" name="phone" value="{{row.phone}}" >
                                   </div>
                                    <br>
                                    <button class="btn btn-primary" type="submit">Update</button>
                                </form>
                             </div>
                             <div class="modal-footer">
                                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="close">Close</button>
                             </div>
                          </div>
                       </div>
                       </div>
                    {% endfor %}
                </table>
                </div>

<!-- add -->

                <div id="mymodal" class="modal fade" role="dialog">
                   <div class="modal-dialog">
                       <div class="modal-content">
                           <div class="modal-header">
                               <h4 class="modal-title">Add Student</h4>
                           </div>
                           <div class="modal-body">
                           <form action="{{url_for('insert')}}" method="POST">
                               <div class="form-group">
                                   <label>Name :</label>
                                   <input type="text" class="form-control" name="name" required="1">
                               </div>
                               <div class="form-group">
                                   <label>Email :</label>
                                   <input type="email" class="form-control" name="email" required="1" >
                               </div>
                               <div class="form-group">
                                      <label>Absenties:</label>
                                      <input type="number" class="form-control" name="absenties" >
                                   </div>
                               <div class="form-group">
                                   <label>Phone :</label>
                                   <input type="number" class="form-control" name="phone"  required="1">
                               </div>
                               <br>
                                   <button class="btn btn-primary" type="submit" >Add Student</button>
                           </form>
                           </div>
                            <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="close" >Close</button>
                            </div>

                    </div>
            </div>
        </div>

    </div>

    </div>
    </div>

{% endblock %}