{% extends 'base.html'%}
{% block title %} home {% endblock %}

{% block body%}
<div class="jumbotron p-3">
    <div class="well text-center">
        <h1> CLASSROOMS LIST</h1>
    </div>
</div>

<div class="container">
        <div class="row">
            <div class="col md-12">
                <div class="jumbotron p-3">
                    <h2>Manage Classrooms <button type="button" class="btn btn-success float-end" data-bs-toggle="modal" data-bs-target="#mymodal" >Add new classroom</button></h2>
                <table class="table table-hover table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Classes</th>
                        <th>Action</th>
                    </tr>

                    {% for row in classrooms %}

                    <tr>
                        <td>{{row.id}}</td>
                        <td>
                            <a href="/update/{{row.id}}" class="btn btn-warning btn-xs" data-bs-toggle="modal" data-bs-target="#modaledit{{row.id}}">Edit</a>
                            <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
                        </td>
                    </tr>
<!-- edit -->
                    <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
                       <div class="modal-dialog">
                          <div class="modal-content">
                             <div class="modal-header">
                                <h4 class="modal-title">Update Information</h4>
                             </div>
                              <div class="modal-body">
                           <form action="{{url_for('insertt')}}" method="post">
                               <div class="form-group">
                                   <label>Classroom :</label>
                                   <input type="text" class="form-control" name="classroom" >
                               </div>
                           </form>

                             <div class="modal-footer">
                                        <button class="btn btn-primary" type="submit">Update</button>
                                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="close">Close</button>
                             </div>
                          </div>
                       </div>
                       </div>
                    {% endfor %}
                </table>
                </div>
<!-- add -->

                <div id="mymodal" class="modal fade" role="dialog">
                   <div class="modal-dialog">
                       <div class="modal-content">
                           <div class="modal-header">
                               <h4 class="modal-title">Add Classroom</h4>
                           </div>
                           <div class="modal-body">
                           <form action="{{url_for('insert')}}" method="post">
                               <div class="form-group">
                                   <label>Classroom :</label>
                                   <input type="text" class="form-control" name="classroom" >
                               </div>
                           </form>
                           </div>
                            <div class="modal-footer">
                                   <button class="btn btn-primary" type="submit">Add Classroom</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="close" >Close</button>
                            </div>

                    </div>
            </div>
        </div>

    </div>

    </div>
    </div>

{% endblock %}