{% extends 'base.html'%}
{% block title %} home {% endblock %}

{% block body%}
<div class="jumbotron p-3">
    <div class="well text-center">
        <h1> CLASSROOMS LIST</h1>
    </div>
</div>

<div class="container">
        <div class="row">
            <div class="col md-12">
                <div class="jumbotron p-3">
                    <h2>Manage Classrooms <button type="button" class="btn btn-success float-end" data-bs-toggle="modal" data-bs-target="#mymodall" >Add new classroom</button></h2>
                <table class="table table-hover table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Classrooms</th>
                        <th>Action</th>
                    </tr>

                    {% for row in classrooms %}

                    <tr>
                        <td>{{row.id}}</td>
                        <td>{{row.classroom}}</td>
                        <td>
                            <a href="/update_class/{{row.id}}" class="btn btn-warning btn-xs" data-bs-toggle="modal" data-bs-target="#modaleditt{{row.id}}">Edit</a>
                            <a href="/delete_class/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete this classroom?')">Delete</a>
                             <a href="{{ url_for('Index') }}"  class="btn btn-info btn-xs" > Check Names </a>
                        </td>
                    </tr>
<!-- edit -->
                    <div id="modaleditt{{row.id}}" class="modal fade" role="dialog">
                       <div class="modal-dialog">
                          <div class="modal-content">
                             <div class="modal-header">
                                <h4 class="modal-title">Update classroom</h4>
                             </div>
                              <div class="modal-body">
                           <form action="{{url_for('update_class', id=row.id)}}" method="POST">
                               <div class="form-group">
                                   <label>Classroom :</label>
                                   <input type="text" class="form-control" name="classroom" value="{{ row.classroom }}" >
                               </div>

                             <div class="modal-footer">
                                  <button class="btn btn-primary" type="submit">Update</button>
                                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="close">Close</button>
                             </div>
                           </form>
                             </div>
                          </div>
                       </div>
                       </div>
                    {% endfor %}
                </table>
            </div>
        </div>
<!-- add -->

                <div id="mymodall" class="modal fade" role="dialog">
                   <div class="modal-dialog">
                       <div class="modal-content">
                           <div class="modal-header">
                               <h4 class="modal-title">Add Classroom</h4>
                           </div>
                           <div class="modal-body">
                           <form action="{{url_for('insert_class')}}" method="post">
                               <div class="form-group">
                                   <label>Classroom :</label>
                                   <input type="text" class="form-control" name="classroom" required="1" >
                               </div>
                            <div class="modal-footer">
                                   <button class="btn btn-primary float-end" type="submit"  >Add Classroom</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="close" >Close</button>
                            </div>
                           </form>
                           </div>

                    </div>
            </div>
        </div>

    </div>

    </div>
    </div>

{% endblock %}